
<div class="container-fluid" style="margin-top: 100px;">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Flow Name</th>
                <th scope="col">Flow Owner</th>
                <th scope="col">Active</th>
                <th scope="col">Data Type</th>
                <th scope="col">Retention</th>
                <th scope="col">Sensor Id</th>
                <th scope="col">Visibility</th>
                <th scope="col">Schema Id</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Last Update Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flow of flowList">
                <td><strong>{{flow.flowName}}</strong></td>
                <td>{{flow.flowOwner}}</td>
                <td>{{flow.active}}</td>
                <td>{{flow.fileFormat}}</td>
                <td>{{flow.retention}}</td>
                <td>{{flow.sensorId}}</td>
                <td>{{flow.visibility}}</td>
                <td>{{flow.schemaId}}</td>
                <td>{{flow.creationDate | date: 'medium' }}</td>
                <td>{{flow.lastUpdateDate | date: 'medium' }}</td>
                <td>
                    <div class="col text-center">
                        <button class="btn btn-success" [hidden]="flow.active" (click)="changeFlowStatus(flow)">Enable</button>
                        <button class="btn btn-secondary" [hidden]="!flow.active" (click)="changeFlowStatus(flow)">Disable</button>
                    </div>
                </td>
                <td>
                    <div class="col text-center">
                        <button class="btn btn-warning" (click)="editFlow(flow)"> Edit</button>
                    </div>        
                </td>
                <td>
                    <div class="col text-center">
                        <button class="btn btn-danger" (click)="deleteFlow(flow.id)"> Delete</button>
                    </div>  
                </td>
            </tr>
        </tbody>
    </table>
</div>
