<div class="container" style="margin-top: 100px;">

    <div class="row">
  
      <div class="col-sm-8 offset-sm-2">
  
        <div>
          <form>
            <div class="form-group">
              <label>Flow Name</label>
              <input [(ngModel)]="flow.flowName" type="text" name="flowName" class="form-control" placeholder="Enter Flow Name">
            </div>

            <div class="form-group">
              <label>Flow Owner</label>
              <input [(ngModel)]="flow.flowOwner" type="text" name="flowOwner" class="form-control" placeholder="Enter Owner Name">
            </div>

              <div class="form-group">
                  <label>Sensor Id</label>
                  <input [(ngModel)]="flow.sensorId" type="number" name="sensorId" class="form-control" placeholder="Enter Sensor Id">
              </div>

              <div class="form-group">
                  <label>Visibility</label>
                  <input [(ngModel)]="flow.visibility" type="string" name="visibility" class="form-control" placeholder="Enter Visibility">
              </div>

              <div class="form-group">
                  <label>Schema Id</label>
                  <select [(ngModel)]="flow.schemaId" name="schemaId" class="form-control">
                      <option *ngFor="let sc of schemas" [ngValue]="sc">{{sc}}</option>
                  </select>
              </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>File Format</label>
                    <select [(ngModel)]="flow.fileFormat" name="fileFormat" class="form-control">
                      <option *ngFor="let fileFormat of keys(fileFormats)" [ngValue]="fileFormat">{{fileFormats[fileFormat]}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Data Retention</label>
                    <input [(ngModel)]="flow.retention" type="number" min="0" name="retention" class="form-control" placeholder="Enter Data Retention">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="saveFlow()">Save Flow</button>
            </div>
            </form>
        </div>
    </div>
   </div>
</div>

<br>
<!--{{flow | json}}-->
